:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    background-image: url(../assets/cat-background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: grey;
    font-size: 2rem;
}

.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.shells {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.shell-pic {
    height: 200px;
}

button {
    width: fit-content;
    height: 40px;
    margin: 5px;
}

input {
    margin: 10px;
    background-color: lightcyan;
}

.results-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.laughingCat::after {
    font-size: 8rem;
    content: '😹';
    position: absolute;
}

.heartCat::after {
    font-size: 8rem;
    content: '😻';
    position: absolute;
}

h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sim-button {
    background-color: aquamarine;
}

.onetime-click {
    margin-top: 50px;
}
